* {
    padding: 0;
    margin: 0;
    border: none; 
    
}

.login-page{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    background-color: #F7F7F7;
}

.login-form{
    padding-left: 170px;
    padding-top: 100px;
    text-align: center;
}

.form-login{
    margin-top: 80px;
    text-align: left;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.form-group:last-child{
    padding-top: 20px;
}

.form-group label{
    padding-bottom: 20px ;
}

.login-form .logo-alta img {
    max-width: 45%;
    max-height: 50%;
}

.form-control{
    position: relative;
    width: 400px;
    height: 44px;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    box-sizing: border-box;
    padding-left: 8px;
}

.from-control__pass{
    position: relative;
}

.eye-off{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}


.forget-password{
    padding-top: 8px;
    padding-bottom: 20px;
    text-align: left;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #E73F3F;
}

.btn{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 520;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    width: 162px;
    height: 40px;
    left: 215px;
    top: 511px;
    background: #FF9138;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;

}

.login-image{
    display: inline-flex;
    width: 58%;
    background-color: #fff;

}
.btn-primary{

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px;
gap: 8px;

position: absolute;
width: 162px;
height: 40px;
left: 215px;
top: 511px;



background: #FF9138;


box-shadow: 0px 0px 6px #E7E9F2;
border-radius: 8px;
}