* {
    padding: 0;
    margin: 0;
    border: none; 
    
}
.login-page{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    background-color: #F7F7F7;
}
.login-form{
    padding-left: 170px;
    padding-top: 100px;
    text-align: center;
}
.logo-alta img {
    position: absolute;
    width: 170px;
    height: 136px;
    left: 208px;
    top: 82px;
}
.forget-password{
    padding-top: 8px;
    padding-bottom: 20px;
    text-align: left;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #E73F3F;
}
.btn-hủy{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 8px;

    position: absolute;
    width: 162px;
    height: 40px;
    left: 118px;
    top: 483px;
    /* Orange/$-Orange-400 */

    border: 1px solid #FF9138;
    /* down */

    filter: drop-shadow(0px 0px 6px #E7E9F2);
    border-radius: 8px;
    }
.btn-brimary{
    /* Button */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px;
gap: 8px;

position: absolute;
width: 162px;
height: 40px;
left: 304px;
top: 483px;

/* Orange/$-Orange-400 */

background: #FF9138;
/* down */

box-shadow: 0px 0px 6px #E7E9F2;
border-radius: 8px;
}
.form-group{
    position: absolute;
    width: 400px;
    height: 75px;
    left: 94px;
    top: 360px;
    
}
.form-control{
    box-sizing: border-box;
    display: flex;
flex-direction: row;
align-items: center;
padding: 10px 270px 10px 12px;
gap: 10px;
}
.form-group h2 {
    color: rgb(7, 6, 6);
  }